<h1>DisciplinesTeachers#index</h1>
<p>Find me in app/views/disciplines_teachers/index.html.erb</p>

<p>
  <% form_for (@newdt) do |f| %>
    <% f.error_messages %>
<p>
  <!--%= f.select(:discipline_id, options_from_collection_for_select(@disciplines, "id", "name")) %-->
  <%=h f.select(:discipline_id, options_for_select( Discipline.all.collect { |p| [p.name, p.id]})) %>
  <%=h f.select(:teacher_id, options_for_select( Teacher.all.collect { |p| [p.person.last_name, p.person.id]})) %>
  
  <%= f.submit 'Добавить' %>
</p>
  <% end %>
</p>

<table>
  <tr>
    <th>Предмет</th>
    <th>Ведёт</th>

  </tr>

<% @dts.each do |d| %>
  <tr>
    <td><%=h d.discipline.name %></td>
    <td><%=h d.teacher.person.last_name %></td>
    <td><%= link_to 'Edit', edit_disciplines_teacher_path(d) %></td>
      <td><%= link_to 'Destroy', d, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
