<h1>Disciplines#edit</h1>
<p>Find me in app/views/disciplines/edit.html.erb</p>

<p>
  <% form_for (@newdiscipline) do |f| %>
    <% f.error_messages %>
<p>
  Название дисциплины:
  <%= f.text_field :name %>
  <%= f.submit 'Изменить' %>
</p>
  <% end %>
</p>
<%= link_to 'Назад', disciplines_path %>
<p>
<table>
  <tr>
    <th>Индекс</th>
    <th>Название дисциплины</th>
  </tr>

  <% @disciplines.each do |d| %>
    <tr>
      <td><%=h d.id %> </td>
      <td><%=h d.name %> </td>
      <td><%= link_to 'Редактировать', edit_discipline_path(d) %></td>
      <td><%= link_to 'Удалить', d, :confirm => 'Удалить запись?', :method => :delete %></td>
    </tr>
  <%  end %>
</table>
</p>