<h1>Diplomas#edit</h1>
<p>Find me in app/views/diplomas/edit.html.erb</p>

<% form_for @diploma do |f| %>
  <%= f.error_messages %>

  <p>
    Тема диплома:
    <%=h f.text_field :name %>
    <br>
    Год защиты:
    <br>

    <%=h f.select(:protection_year,  (Time.now.year - 30)..Time.now.year , :prompt => @diploma.protection_year ) %>
    Выполнил
    <!--%=h f.select(:student_id, options_for_select( Student.all.collect { |p| [p.person.last_name, p.person.id]}, selected_value=@diploma.student_id)) %-->
    <%=h f.select(:student_id, options_for_select( Student.all.collect { |p| ["#{p.person.last_name} #{p.person.first_name} #{p.person.patronymic_name}, #{p.speciality.short_name}", p.person.id]}, selected_value=@diploma.student_id)) %>
    <br>

    Руководитель
    <!--%=h f.select(:teacher_id, options_for_select( Teacher.all.collect { |p| [p.person.last_name, p.person.id]}, selected_value=@diploma.teacher_id)) %-->
    <%=h f.select(:teacher_id, options_for_select( Teacher.all.collect { |p| ["#{p.person.last_name} #{p.person.first_name} #{p.person.patronymic_name}, #{p.degree.short_name}", p.person.id]}, selected_value=@diploma.teacher_id)) %>
    <br>

    Аннотация:
    <%=h f.text_area :summary %>
    <br></br>
    <br>
  </p>

  <p>
    <%= f.submit 'Изменить' %>
  </p>
<% end %>