<h1>Ученые степени | Изменить</h1>

<p>
  <% form_for([:manage,@newdegree]) do |f| %>
    <%= f.error_messages %>
<p>
<table>
  <tr>
    <td>Учёная степень:</td>
    <td>Сокращение:</td>
  </tr>
  <tr>
    <td><%= f.text_field :name %></td>
    <td><%= f.text_field :short_name %></td>
    <td align="left"><%= f.submit 'Изменить' %></td>
  </tr>
</table>
</p>
  <% end %>
</p>
<p style="color: red"><%= notice %></p>
<%= link_to 'Назад', manage_degrees_path %>
<p>
<table>
  <tr>
    <th>Индекс</th>
    <th>Степень</th>
    <th>Сокращение</th>
  </tr>

  <% @degrees.each do |d| %>
    <tr>
      <td><%=h d.id %> </td>
      <td><%=h d.name %> </td>
      <td><%=h d.short_name %> </td>
      <td><%= link_to 'Редактировать', edit_manage_degree_path(d) %></td>
      <td><%= link_to 'Удалить', manage_degree_path(d), :confirm => 'Удалить запись?', :method => :delete %></td>
    </tr>
  <%  end %>
</table>
</p>