<h1>Учёные степени</h1>

<p>
  <% form_for([:manage,@newdegree]) do |f| %>
    <%= f.error_messages %>
<p>
<table>
  <tr>
    <td>Учёная степень:</td>
    <td>Сокращение:</td>
  </tr>
  <tr>
    <td><%= f.text_field :name %></td>
    <td><%= f.text_field :short_name %></td>
    <td align="left"><%= f.submit 'Добавить' %></td>
  </tr>  
</table>
</p>
  <% end %>
</p>

<p style="color: red"><%= notice %></p>
<% form_tag manage_degrees_path, :method => 'get' do %>
  <p>
    <%=  text_field_tag :search,params[:search] %>
    <%= submit_tag 'Поиск', :name => nil %>
  </p>
<% end %>
<p>
<table>
  <tr>
    <th>Индекс</th>
    <th>Степень</th>
    <th>Сокращение</th>
  </tr>

  <% @degrees.each do |d| %>
    <tr>
      <td><%=h d.id %> </td>
      <td><%=h d.name %> </td>
      <td><%=h d.short_name %> </td>
      <td><%= link_to 'Редактировать', edit_manage_degree_path(d) %></td>
      <td><%= link_to 'Удалить', manage_degree_path(d), :confirm => 'Удалить запись?', :method => :delete %></td>
    </tr>
  <%  end %>
</table>
<%= will_paginate @degrees %>
</p>