<h1>Преподаватели</h1>

<%= render :partial => 'manage/shares/search_form',:locals => { :path => manage_teachers_path } %>
<table class="TableSimple">
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Cтепень</th>
    <th>Должность</th>
    <th>День рождения</th>
    <th>Телефон</th>
    <th>E-mail</th>

  </tr>

<% @teachers.each do |t| %>
  <tr>
    <td><%=h t.person.last_name %></td>
    <td><%=h t.person.first_name %></td>
    <td><%=h t.person.patronymic_name %></td>
    <td><%=h t.degree.name %></td>
    <td><%=h t.position.name %></td>
    <td><%=h "#{Russian::strftime(t.person.birthday,'%d.%m.%Y')}" %></td>
    <td><%=h t.person.phone %></td>
    <td><%=h t.person.email %></td>
    <td><%= link_to 'Показать', manage_teacher_path(t) %></td>
    <td><%= link_to 'Редактировать', edit_manage_teacher_path(t) %></td>
      <td><%= link_to 'Удалить', manage_teacher_path(t), :confirm => 'Удалить запись?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate %>
<%= link_to 'Добавить преподавателя', new_manage_teacher_path %>