<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>

<table>
    <tr>
      <td>Фамилия:</td>
      <td><%=h @teacher.person.last_name %></td>
    </tr>
    <tr>
      <td>Имя:</td>
      <td><%=h @teacher.person.first_name %></td>
    </tr>
    <tr>
      <td>Отчество:</td>
      <td><%=h @teacher.person.patronymic_name %></td>
    </tr>
    <tr>
      <td>День рождения:</td>
      <td><%=h @teacher.person.birthday %></td>
    </tr>
    <tr>
      <td>Телефон:</td>
      <td><%=h @teacher.person.phone %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%=h @teacher.person.email %></td>
    </tr>
    <tr>
      <td>Учёная степень:</td>
      <td><%=h @teacher.degree.name %></td>
    </tr>
    <tr>
      <td>Должность:</td>
      <td><%=h @teacher.position.name %></td>
    </tr>
    <tr>
      <td>Фото</td>
      <td><%=h @teacher.person.photo %></td>
    </tr>
    <tr>
      <td>Информация:</td>
      <td><%=h @teacher.person.info %></td>
    </tr>

</table>

<%= link_to 'Редактировать', edit_manage_teacher_path(@teacher) %> |
<%= link_to 'Назад', manage_teachers_path %>