<h1>Преподаватели | Показать</h1>

<table>
<%= render :partial => 'manage/people/show_form', :locals => {:p => @teacher } %>
    <tr>
      <th>Учёная степень:</th>
      <td><%=h @teacher.degree.name %></td>
    </tr>
    <tr>
      <th>Должность:</th>
      <td><%=h @teacher.position.name %></td>
    </tr>
</table>

<%= link_to 'Редактировать', edit_manage_teacher_path(@teacher) %> |
<%= link_to 'Назад', manage_teachers_path %>