  <%= c.error_messages %>

<table>
   <tr>
    <th>Адрес:</th>
    <td><%= c.text_field(:address,:class => 'textContacts') %></td>
  </tr>
  <tr>
    <th>Телефоны:</th>
    <td><%= c.text_field(:phones,:class => 'textContacts')  %></td>
  </tr>
  <tr>
    <th>E-mail:</th>
    <td><%= c.text_field(:email,:class => 'textContacts')  %></td>
  </tr>
  <tr>
    <th>Сайт:</th>
    <td><%= c.text_field(:url,:class => 'textContacts')  %></td>
  </tr>
  <tr>
    <th>Изображение:</th>
    <td><%= "#{link_to(contact.picture_name, contact.picture_path)} | #{c.check_box(:del,{},:value => '1')} Удалить?" if contact.picture_exists? %>  <br /><%= c.file_field :picture %></td>
   </tr>
  <tr>
    <td></td>
    <td align="right"><%= c.submit but %></td>
  </tr>
</table>