<h1>Контактная информация</h1>

<table class="TableShow">
  <tr>
    <th>Адрес:</th>
    <td><%=h @contact.address %></td>
  </tr>

  <tr>
    <th>Телефоны:</th>
    <td><%=h @contact.phones %></td>
  </tr>
  <tr>
    <th>E-mail:</th>
    <td><%=h @contact.email %></td>
  </tr>
  <tr>
    <th>Сайт:</th>
    <td><%=h @contact.url %></td>
  </tr>
  <tr>
    <th valign="top">Изображение:</th>
    <td><%= image_tag(@contact.picture_path, :width => '400px') %></td>
  </tr>

</table>
<%= link_to 'Изменить', edit_manage_contact_path(@contact)  %>