<h1>Контактная информация</h1>

<table>
  <tr>
    <td>Адрес</td>
    <td><%=h @contact.address %></td>
  </tr>

  <tr>
    <td>Телефоны</td>
    <td><%=h @contact.phones %></td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><%=h @contact.email %></td>
  </tr>
  <tr>
    <td>Сайт</td>
    <td><%=h @contact.url %></td>
  </tr>
  <tr>
    <td>Изображение</td>
    <td><%= image_tag(@contact.picture_path) %></td>
  </tr>

</table>
<%= link_to 'Изменить', edit_manage_contact_path(@contact)  %>