<h1>Внесите информацию о контактах</h1>
<p>Find me in app/views/contacts/new.html.erb</p>


<% form_for(@contact) do |c| %>
  <%= c.error_messages %>

<table>
  <tr>
    <td>Адрес:</td>
    <td><%= c.text_field :address %></td>
  </tr>
  <tr>
    <td>Телефоны:</td>
    <td><%= c.text_field :phones %></td>
  </tr>
  <tr>
    <td>E-mail:</td>
    <td><%= c.text_field :email %></td>
  </tr>
  <tr>
    <td>Сайт:</td>
    <td><%= c.text_field :url %></td>
  </tr>
  <tr>
    <td>Изображение:</td>
    <td><%= c.text_field :image %></td>
  </tr>
  <tr>
    <td></td>
    <td align="right"><%= c.submit 'Записать' %></td>
  </tr>
</table>

<% end %>