<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>
<table>
  <tr>
    <th>Автор</th>
    <th>E-mail</th>
    <th>Текст</th>
  </tr>

<% @comments.each do |art| %>
  <tr>
    <td><%=h art.author_name %></td>
    <td><%=h art.author_email %></td>
    <td><%=h art.body %></td>
    <td><%= link_to 'Show', art %></td>
    <td><%= link_to 'Edit', edit_comment_path(art) %></td>
    <td><%= link_to 'Destroy', art, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<%= link_to 'Добавить комментарий', new_comment_path %>