<h1>Студентики</h1>
<p>Find me in app/views/students/index.html.erb</p>

<table>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Специальность</th>
    <th>Год поступления</th>
    <th>День рождения</th>
    <th>Телефон</th>
    <th>E-mail</th>

  </tr>

<% @students.each do |stud| %>
  <tr>
    <td><%=h stud.person.last_name %></td>
    <td><%=h stud.person.first_name %></td>
    <td><%=h stud.person.patronymic_name %></td>
    <td><%=h stud.speciality.name %></td>
    <td><%=h stud.year_income %></td>
    <td><%=h stud.person.birthday %></td>
    <td><%=h stud.person.phone %></td>
    <td><%=h stud.person.email %></td>
    <td><%= link_to 'Show', stud %></td>
    <td><%= link_to 'Edit', edit_student_path(stud) %></td>
      <td><%= link_to 'Destroy', stud, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Добавить студента', new_student_path %>