<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>

<br>Фото</br>
    <br><%=h @student.person.photo %></br>
Фамилия:<br>
    <%=h @student.person.last_name %><br>
Имя:<br>
    <br><%=h @student.person.first_name %></br>
<br>Отчество:</br>
    <br><%=h @student.person.patronymic_name %></br>
<br>Специальность:</br>
    <br><%=h @student.speciality.name %></br>
<br>Год поступления:</br>
    <br><%=h @student.year_income %></br>
<br>День рождения:</br>
    <br><%=h @student.person.birthday %></br>
<br>Телефон:</br>
    <br><%=h @student.person.phone %></br>
<br>Email</br>
    <br><%=h @student.person.email %></br>
<br>Информация:</br>
    <br><%=h @student.person.info %></br>
<%= link_to 'Edit', edit_student_path(@student) %>
<%= link_to 'Назад', students_path %>