<h1>Изменение новости</h1>
<p>Find me in app/views/articles/edit.html.erb</p>


<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    Название:<br />
    <%= f.text_field :title %>
  </p>
  <p>
    Текст<br />
    <%= f.text_area :body %>
  </p>
  <p>
    Приоритет:<br />
    <%= f.select(:priority, 1..10)%>
  </p>
  <p>
    Изображение<br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.submit 'Изменить' %>
  </p>
<% end %>

<%= link_to 'Назад', articles_path %>