<h1>Новости кафедры</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<table>
  <tr>
    <th>Название новости</th>
    <th>Текст новости</th>
    <th>Дата публикации</th>
    <th>Приоритет</th>
    <th>Изображение</th>
  </tr>

<% @articles.each do |art| %>
  <tr>
    <td><%=h art.title %></td>
    <td><%=h art.body %></td>
    <td><%=h art.created_at %></td>
    <td><%=h art.priority %></td>
    <td><%=h art.image %></td>
    <td><%= link_to 'Показать', art %></td>
    <td><%= link_to 'Редактировать', edit_article_path(art) %></td>
    <td><%= link_to 'Удалить', art, :confirm => 'Удалить запись?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<%= link_to 'Добавить новость', new_article_path %>