<h1>Привет, Администратор!</h1>

<h1>File Upload</h1>
<%= form_tag ({:action => 'uploadFile'},
                        :multipart => true) %>
<p><label for="upload_file">Select File</label> :
<%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
</form>

<%= link_to 'Контакты', manage_contacts_path %>
<%= link_to 'Полезные ссылки', manage_links_path %>
<%= link_to 'Новости', manage_articles_path %>
<%= link_to 'История', manage_histories_path %>
<%= link_to 'Студенты', manage_students_path %>
<%= link_to 'Преподаватели', manage_teachers_path %>
<%= link_to 'Учёные степени', manage_degrees_url %>
<%= link_to 'Должности', manage_positions_url %>
<%= link_to 'Дисциплины', manage_disciplines_url %>
<%= link_to 'Специальности', manage_specialities_url %>
<%= link_to 'Кто что ведёт', manage_disciplines_teachers_url %>
<%= link_to 'Дипломы', manage_diplomas_url %>
<%= link_to 'Людишки', manage_people_url %>