<h1>Привет, Администратор!</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<%= link_to 'Контакты', contacts_path %>
<%= link_to 'Полезные ссылки', links_path %>
<%= link_to 'Новости', articles_path %>
<%= link_to 'История', histories_path %>
<%= link_to 'Комментарии', comments_path %>
<%= link_to 'Студенты', students_path %>
<%= link_to 'Учёные степени', degrees_url %>
<%= link_to 'Должности', positions_url %>
<%= link_to 'Дисциплины', disciplines_url %>
<%= link_to 'Специальности', specialities_url %>