<h1>Specialities#index</h1>
<p>Find me in app/views/specialities/index.html.erb</p>

<table>
  <tr>
    <th>Код</th>
    <th>Название</th>
    <th>Сокращение</th>
    <th>Количество лет обучения</th>
    <th>По диплому</th>
  </tr>

<% @specialities.each do |s| %>
  <tr>
    <td><%=h s.code %></td>
    <td><%=h s.name %></td>
    <td><%=h s.short_name %></td>
    <td><%=h s.count_years %></td>
    <td><%=h s.in_diploma %></td>
    <td><%= link_to 'Edit', edit_speciality_path(s) %></td>
    <td><%= link_to 'Destroy', s, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<%= link_to 'Добавить специальность', new_speciality_path %>