    <table class="TableSimple">
      <tr>
        <td>
          <%= spec.name %>
          <br />
          <%= "(#{spec.short_name})" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= spec.code %>
        </td>
      </tr>

      <tr>
        <td>
          Количество лет обучения:
          <%= spec.count_years %>
        </td>
      </tr>

      <tr>
        <td>
          Учёная степень:
          <%= spec.in_diploma %>
        </td>
      </tr>
    </table>
