<h3 style="text-align: center;">О специальности</h3>
    <table class="tableAboutSpeciality">
      <tr>
        <th colspan="2" style="text-align: center;font-weight: bold;">
          <%= spec.name %>
          <br />
          <%= "(#{spec.short_name})" %>
        </th>
      </tr>
      <tr>
        <th>
          Код:
        </th>
        <td>
          <%= spec.code %>
        </td>
      </tr>

      <tr>
        <th>
          Количество лет обучения:
        </th>
        <td>
          <%= spec.count_years %>
        </td>
      </tr>

      <tr>
        <th>
          Учёная степень:
        </th>
        <td>
          <%= spec.in_diploma %>
        </td>
      </tr>
    </table>
