<h1>Links#index</h1>
<p>Find me in app/views/links/index.html.erb</p>
<p>
  <% form_for ([:manage,@newlink]) do |f| %>
    <% f.error_messages %>
<table>
  <tr>
    <td>Ссылка</td>
    <td>Описание</td>
  </tr>
  <tr>
    <td><%= f.text_field :url %></td>
    <td><%= f.text_area :description %></td>
    <td><%= f.submit 'Добавить' %></td>
  </tr>

</table>
  <% end %>
</p>

<p>
<table>
  <tr>
    <th>Ссылка</th>
    <th>Описание</th>
  </tr>

  <% @links.each do |kfl| %>
    <tr>
      <td><%=h kfl.url %> </td>
      <td><%=h kfl.description %> </td>
      <td><%= link_to 'Редактировать', edit_manage_link_path(kfl) %></td>
      <td><%= link_to 'Удалить', manage_link_path(kfl), :confirm => 'Удалить запись?', :method => :delete %></td>
    </tr>
  <%  end %>
</table>
</p>