  <%= f.error_messages %>
<table>
  <%= render :partial => 'manage/people/form', :locals => {:f => f, :person => @student.person } %>
  <tr>
    <th>Специальность:</th>
    <td><%=h f.select(:speciality_id, options_from_collection_for_select(@specialities, "id", "name")) %> <%= link_to 'New', new_manage_speciality_path %></td>
  </tr>
  <tr>
    <th>Год поступления:</th>
    <td><%=h f.select(:year_income,  years_mass(30) ) %></td>
  </tr>

  <tr>
    <td></td>
    <td align="right"><%= f.submit but %></td>
  </tr>

</table>
