<h1>Студенты</h1>
<%= render :partial => 'manage/shares/search_form',:locals => { :path => manage_students_path } %>
<table>
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Специальность</th>
    <th  width="50px">Год поступления</th>
    <th  width="80px">День рождения</th>
    <th>Телефон</th>
    <th>E-mail</th>

  </tr>

<% @students.each do |stud| %>
  <tr>
    <td><%=h stud.person.last_name %></td>
    <td><%=h stud.person.first_name %></td>
    <td><%=h stud.person.patronymic_name %></td>
    <td><%=h stud.speciality.name %></td>
    <td><%=h stud.year_income %></td>
    <td><%=h "#{Russian::strftime(stud.person.birthday,'%d.%m.%Y')}" %></td>
    <td><%=h stud.person.phone %></td>
    <td><%=h stud.person.email %></td>
    <td><%= link_to 'Показать', manage_student_path(stud) %></td>
    <td><%= link_to 'Редактировать', edit_manage_student_path(stud) %></td>
      <td><%= link_to 'Удалить', manage_student_path(stud), :confirm => 'Удалить запись?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Добавить студента', new_manage_student_path %>