<h1>Студенты | Показать</h1>

<table  class="TableShow">
<%= render :partial => 'manage/people/show_form',:locals => { :p => @student } %>
  <tr>
    <th>Специальность:</th>
    <td><%=h @student.speciality.name %></td>
  </tr>

  <tr>
    <th>Год поступления:</th>
    <td><%=h @student.year_income %></td>
  </tr>
</table>

<%= link_to 'Редактировать', edit_manage_student_path(@student) %> |
<%= link_to 'Назад', manage_students_path %> |
<%= link_to 'Добавить студента', new_manage_student_path %>