<h1 style="text-align: center;">Архив новостей</h1>
<% i = 0 %>
<% articles.each do |n| %>
  <% i = i + 1 %>
  <%= color_table(i) %>
        <tr>
          <td class="NewsTdTop" colspan="2"><%=  link_to(n.title, :controller => 'news', :action => 'show',:id => n) %> </td>
        </tr>
        <tr>
          <td><%= link_to("#{(n.picture_ext.nil? ) ? (image_tag('no.gif', :width => '150px')) : (image_tag(n.picture_path, :width => '150px'))}",{:controller => 'news', :action => 'show',:id => n}, :style => 'border-bottom: none;')  %> </td>
          <td class="NewsTdBody" colspan="2"><%=  Maruku.new("#{n.body.chars.first(400)}...").to_html %> </td>
        </tr>
        <tr>
          <td class="NewsTdBotLeft" style="width: 150px;"> <%= link_to 'Читать полностью', :controller => 'news', :action => 'show',:id => n %> </td>
          <td  class="NewsTdBot"><%=  "#{Russian::strftime(n.created_at,'%d %B %Y | %H:%M')}" %> </td>
        </tr>
      </table>

<%  end %>
<%= will_paginate articles %>
