<%= render(:partial => 'one_new', :locals => { :article => Article.find(params[:id]) }) %>

<td class="tdr">
  <div class="rightpanel" align="center">
  <%= form_tag :action => "comment", :id => (@article) %><br />
<%= error_messages_for :comment %>
<table width="90%">
  <tr>
    <td>Автор:</td>
    <td><%= text_field "comment", "author_name", :style => "width: 98%;" %></td>
    <td>Email:</td>
    <td><%= text_field "comment", "author_email", :style => "width: 100%;" %></td>
  </tr>
  <tr>
    <td colspan="4"><%= text_area "comment", "body", :style => "width: 100%;", :rows => 3 %></td>
  </tr>
  <tr>
    <td colspan="4" align="right"><%= submit_tag 'Комментировать'  %></td>
  </tr>
</table>
</form>
<br />
<% for comment in @article.comments.reverse %>
<table class="TableComment" width="440px" >
  <tr>    
      <td colspan="3" style="font-weight: bold; font-size: 14px;"><%= comment.author_name %></td>
  </tr>
  <tr>
    <td colspan="3"><%= comment.body %></td>
  </tr>
  <tr>
    <td colspan="3" align="right"><small><%= "#{Russian::strftime(comment.created_at,'%d %B %Y | %H:%M')}" %></small></td>
  </tr>

</table>
<% end %>

</div>
</td>