<%= f.error_messages %>
<table>
  <tr>
    <th>Заголовок:</th>
  </tr>
  <tr>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th>Текст</th>
  </tr>
  <tr>
    <td><%= f.text_area :body %></td>
  </tr>
  <tr>
    <th>Приоритет:</th>
  </tr>
  <tr>
    <td><%= f.select(:priority, 1..10) %></td>
  </tr>
  <tr>
    <th>Изображение</th>
  </tr>
  <tr>
    <td><%= link_to(article.picture_name, article.picture_path) if article.picture_exists? %><br /><%= f.file_field :picture %></td>
  </tr>
  <tr>
    <td><%= f.submit but %></td>
  </tr>
</table>