<h1>Новости кафедры</h1>

<table>
  <tr>
    <th>Заголовок</th>
    <th>Текст новости</th>
    <th>Дата публикации</th>
    <th>Приоритет</th>
    <th>Изображение</th>
  </tr>

<% @articles.reverse.each do |art| %>
  <tr>
    <td><%=h art.title %></td>
    <td><%=h art.body.chars.first(300) %></td>
    <td><%=h "#{Russian::strftime(art.created_at,'%d.%m.%Y %H:%M')}" %></td>
    <td align="center"><%=h art.priority %></td>
    <td><%=h art.image %></td>
    <td><%= link_to 'Показать', manage_article_path(art) %></td>
    <td><%= link_to 'Редактировать', edit_manage_article_path(art) %></td>
    <td><%= link_to 'Удалить', manage_article_path(art), :confirm => 'Удалить запись?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<%= link_to 'Добавить новость', new_manage_article_path %>