<h1>Новости кафедры</h1>

<table class="TableSimple">
  <tr>
    <th width="15%">Заголовок</th>
    <th width="40%">Текст новости</th>
    <th width="15%">Дата публикации</th>
    <th width="5%">Приоритет</th>
  </tr>

<%= render :partial => 'manage/shares/search_form',:locals => { :path => manage_articles_path } %>

<% @articles.reverse.each do |art| %>
  <tr>
    <td><%=h art.title %></td>
    <td><%=h art.body.chars.first(300) %></td>
    <td><%=h "#{Russian::strftime(art.created_at,'%d.%m.%Y %H:%M')}" %></td>
    <td align="center"><%=h art.priority %></td>
    <td><%= link_to 'Показать', manage_article_path(art) %></td>
    <td><%= link_to 'Редактировать', edit_manage_article_path(art) %></td>
    <td><%= link_to 'Удалить', manage_article_path(art), :confirm => 'Удалить запись?', :method => :delete %></td>

  </tr>
<% end %>
</table>
<%= will_paginate %>
<%= link_to 'Добавить новость', new_manage_article_path %>