<h1>Новость кафедры</h1>

<p>
  <b>Заголовок:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Текст:</b>
  <%=h @article.body %>
</p>

<p>
  <b>Дата публикации:</b>
  <%=h "#{Russian::strftime(@article.created_at,'%d %B %Y | %H:%M')}" %>
</p>

<p>
  <b>Приоритет:</b>
  <%=h @article.priority %>
</p>

<p>
  <b>Изображение:</b>
  <%= image_tag(@article.image) %>
</p>
<%= link_to 'Изменить', edit_manage_article_path(@article) %> |
<%= link_to 'Назад', manage_articles_path %>
<p>

<h2>Комментарии</h2>
<p style="color: red"><%= notice %></p>
<%= form_tag :action => "comment", :id => (@article) %><br>
<%= error_messages_for :comment %>
<table>
  <tr>
    <td>Автор:</td>
    <td><%= text_field "comment", "author_name" %></td>
    <td>Email:</td>
    <td><%= text_field "comment", "author_email" %></td>
  </tr>
  <tr>
    <td colspan="4"><%= text_area "comment", "body", :class => 'BodyComment' %></td>
  </tr>
  <tr>
    <td colspan="4" align="right"><%= submit_tag 'Комментировать'  %></td>
  </tr>
</table>
</form>

  <% for comment in @article.comments.reverse %>
<table class="TableComment" width="440px" >
  <tr>
      <td width="50px">Автор:</td>
      <td><%= comment.author_name %></td>
      <td align="center"><%= comment.author_email %></td>
  </tr>
  <tr>
    <td colspan="3"><%= comment.body %></td>
  </tr>
  <tr>
    <td colspan="3" align="right"><small><%= "#{Russian::strftime(comment.created_at,'%d %B %Y | %H:%M')}" %></small></td>
  </tr>
  <tr>
    <td colspan="3" align="right"><%= link_to 'Удалить', manage_comment_path(comment), :confirm => 'Удалить запись?', :method => :delete %></td>
  </tr>
  
</table>
<% end %>
</p>




