<h1>Новость кафедры</h1>

<p>
  <b>Заголовок:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Текст:</b>
  <%=h @article.body %>
</p>

<p>
  <b>Дата публикации:</b>
  <%=h @article.created_at.to_s %>
</p>

<p>
  <b>Приоритет:</b>
  <%=h @article.priority %>
</p>

<p>
  <b>Изображение:</b>
  <%=h @article.image %>
</p>
<%= link_to 'Изменить', edit_manage_article_path(@article) %> |
<%= link_to 'Назад', manage_articles_path %>
<p>

<h2>Комментарии</h2>
<%= form_tag :action => "comment", :id => (@article) %><br>
<table>
  <tr>
    <td>Автор:</td>
    <td><%= text_field "comment", "author_name" %></td>
    <td>Email:</td>
    <td><%= text_field "comment", "author_email" %></td>
  </tr>
  <tr>
    <td colspan="4"><%= text_area "comment", "body", :class => 'BodyComment' %></td>
  </tr>
  <tr>
    <td colspan="4" align="right"><%= submit_tag "Comment!"  %></td>
  </tr>
</table>
</form>

  <% for comment in @article.comments.reverse %>
  <table>
  <tr>
      <td><%= comment.author_name %></td>
      <td><%= comment.author_email %></td>
      <td><%= comment.created_at.to_s %></td>
  </tr>
  <tr>
    <td colspan="3"><%= comment.body %></td>
  </tr>
  <tr>
    <td><%= link_to 'Удалить', manage_article_path(comment.id), :confirm => 'Are you sure?', :method => :deleteComment %></td>
    <td><%= link_to("Удалить2",manage_article_path(comment.id), :method => :delete, :action => "deleteComment", :confirm => 'Are you sure?') %></td>
  </tr>
  
</table>
<% end %>
</p>




