<h1>Новость кафедры</h1>

<table class="TableShow">
  <tr>
    <th>Заголовок:</th>
    <td><%=h @article.title %></td>
  </tr>

  <tr>
    <th>Текст:</th>
    <td><%=h @article.body %></td>
  </tr>

  <tr>
    <th>Дата публикации:</th>
    <td><%=h "#{Russian::strftime(@article.created_at,'%d %B %Y | %H:%M')}" %></td>
  </tr>

  <tr>
    <th>Приоритет:</th>
    <td><%=h @article.priority %></td>
  </tr>

  <tr>
    <th valign="top">Изображение:</th>
    <td><%= image_tag(@article.picture_path, :width => '350px') %></td>
  </tr>
</table>

<%= link_to 'Изменить', edit_manage_article_path(@article) %> |
<%= link_to 'Назад', manage_articles_path %>

<h2>Комментарии</h2>
<p style="color: green"><%= notice %></p>

<%= form_tag :action => "comment", :id => (@article) %><br />
<%= error_messages_for :comment %>
<table>
  <tr>
    <td>Автор:</td>
    <td><%= text_field "comment", "author_name" %></td>
    <td>Email:</td>
    <td><%= text_field "comment", "author_email" %></td>
  </tr>
  <tr>
    <td colspan="4"><%= text_area "comment", "body", :class => 'BodyComment' %></td>
  </tr>
  <tr>
    <td colspan="4" align="right"><%= submit_tag 'Комментировать'  %></td>
  </tr>
</table>
</form>

  <% for comment in @article.comments.reverse %>
<table class="TableComment" width="440px" >
  <tr>
      <td width="50px">Автор:</td>
      <td><%= comment.author_name %></td>
      <td align="center"><%= comment.author_email %></td>
  </tr>
  <tr>
    <td colspan="3"><%= comment.body %></td>
  </tr>
  <tr>
    <td colspan="3" align="right"><small><%= "#{Russian::strftime(comment.created_at,'%d %B %Y | %H:%M')}" %></small></td>
  </tr>
  <tr>
    <td colspan="3" align="right"><%= link_to 'Удалить', manage_comment_path(comment), :confirm => 'Удалить запись?', :method => :delete %></td>
  </tr>
  
</table>
<% end %>





