<h1>Comments#show</h1>
<p>Find me in app/views/comments/show.html.erb</p>
<p>
  <b>Автор:</b>
  <%=h @comment.author_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @comment.author_email %>
</p>

<p>
  <b>Текст:</b>
  <%=h @comment.body %>
</p>


<%= link_to 'Изменить', edit_manage_comment_path(@comment) %> |
<%= link_to 'Назад', manage_comments_path %>