

    <table width="100%">
      <tr>
        <td style="max-width: 250px; width: 3%;"><%= link_to("#{(teacher.person.picture_ext.nil? ) ? () : (image_tag(teacher.person.picture_path, :width => '250px'))}", teacher.person.picture_path) %></td>
        <td style="width: 100%;">
          <h1 style="text-align: center"><%= "#{teacher.person.last_name} #{teacher.person.first_name} #{teacher.person.patronymic_name}" %></h1>
          <h2 style="text-align: right"><%= "#{Russian::strftime(teacher.person.birthday,'%d.%m.%Y')}" %></h2>
          <h2 style="text-align: right"><%= "#{teacher.degree.name}" %></h2>
          <h2 style="text-align: right"><%= "#{teacher.position.name}" %></h2>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%=  Maruku.new(teacher.person.info).to_html %></td>

      </tr>
      <tr>
        <td colspan="2" align="right">
          <table style="font-style: italic;font-size: 14px;">
            <tr>
              <td>
                Преподаёт дисциплины:
              </td>
            </tr>
            <% disc.each do |p| %>
              <tr align="right">
                <td><%= p.discipline.name %> </td>
              </tr>
            <%  end %>
          </table>
        </td>
      </tr>
    </table>

  </div>
</td>