<td class="tdl" align="center">
  <div class="leftpanel">

    <table width="100%">
      <tr>
        <td style="max-width: 250px; width: 3%;"><%= (teacher.person.picture_ext.nil? ) ? () : (image_tag(teacher.person.picture_path, :width => '250px')) %></td>
        <td style="width: 100%;">
          <h3 style="text-align: center"><%= "#{teacher.person.last_name} #{teacher.person.first_name} #{teacher.person.patronymic_name}" %></h3>
          <h4 style="text-align: right"><%= "#{Russian::strftime(teacher.person.birthday,'%d.%m.%Y')}" %></h4>
          <h4 style="text-align: right"><%= "#{teacher.degree.name}" %></h4>
          <h4 style="text-align: right"><%= "#{teacher.position.name}" %></h4>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%=  Maruku.new(teacher.person.info).to_html %></td>

      </tr>
      <tr>
        <td colspan="2" align="right">
          <table>
            <tr>
              <td>
                Преподаёт дисциплины:
              </td>
            </tr>
            <% disc.each do |p| %>
              <tr align="right">
                <td><%= p.discipline.name %> </td>
              </tr>
            <%  end %>
          </table>
        </td>
      </tr>
    </table>

  </div>
</td>