<h1>Teachers#edit</h1>
<p>Find me in app/views/teachers/edit.html.erb</p>

<% form_for @teacher do |f| %>
  <%= f.error_messages %>
<table>
  <% f.fields_for :person do |per| %>
  <p>
  <tr>
    <td>Фамилия</td>
    <td><%=h per.text_field :last_name %></td>
  </tr>
  <tr>
    <td>Имя</td>
    <td><%=h per.text_field :first_name %></td>
  </tr>
  <tr>
    <td>Отчество</td>
    <td><%=h per.text_field :patronymic_name %></td>
  </tr>
  <tr>
    <td>День рождения:</td>
    <td><%=h per.date_select(:birthday,:start_year => Date.today.year, :end_year => (Date.today.year - 80))%></td>
  </tr>
  <tr>
    <td>Телефон:</td>
    <td><%=h per.text_field :phone %></td>
  </tr>
  <tr>
    <td>E-mail:</td>
    <td><%=h per.text_field :email %></td>
  </tr>
  <% end %>

  <tr>
    <td>Учёная степень:</td>
    <td><%=h f.select(:degree_id, options_from_collection_for_select(@degrees, "id", "name", selected_value=@teacher.degree.id)) %></td>
  </tr>
  <tr>
    <td>Должность:</td>
    <td><%=h f.select(:position_id, options_from_collection_for_select(@positions, "id", "name", selected_value=@teacher.position.id)) %> </td>
  </tr>

  <% f.fields_for :person do |per| %>
  <tr>
    <td>Фото:</td>
    <td><%=h per.text_field :photo %></td>
  </tr>
  <tr>
    <td>Информация:</td>
    <td><%=h per.text_area :info %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td align="right"><%= f.submit 'Изменить' %></td>
  </tr>
</table>
<% end %>

<%= link_to 'Назад', teachers_path %>