<%= f.error_messages %>
<table>
  <tr>
    <th>Код:</th>
    <td><%= f.text_field :code %></td>
  </tr>
  <tr>
    <th>Название:</th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th>Сокращение:</th>
    <td><%= f.text_field :short_name %></td>
  </tr>
  <tr>
    <th>Количество лет:</th>
    <td><%= f.select(:count_years, 1..6,:prompt => @speciality.count_years) %></td>
  </tr>
  <tr>
    <th>По диплому:</th>
    <td><%= f.text_field :in_diploma %></td>
  </tr>
  <tr>
    <td></td>
    <td align="right"><%= f.submit but %></td>
  </tr>
  </table>
