
  <% f.fields_for :person do |per| %>
  <tr>
    <td>Фамилия</td>
    <td><%=h per.text_field :last_name %></td>
  </tr>
  <tr>
    <td>Имя</td>
    <td><%=h per.text_field :first_name %></td>
  </tr>
  <tr>
    <td>Отчество</td>
    <td><%=h per.text_field :patronymic_name %></td>
  </tr>
  <tr>
    <td>День рождения:</td>
    <td><%=h per.date_select(:birthday,:start_year => Date.today.year, :end_year => (Date.today.year - 80))%></td>
  </tr>
  <tr>
    <td>Телефон:</td>
    <td><%=h per.text_field :phone %></td>
  </tr>
  <tr>
    <td>E-mail:</td>
    <td><%=h per.text_field :email %></td>
  </tr>
  <tr>
    <td>Фото:</td>
    <td><%= link_to(person.picture_name, person.picture_path) if person.picture_exists? %><br /><%= per.file_field :picture %></td>
  </tr>
  <tr>
    <td valign="top">Информация:</td>
    <td><%=h per.text_area :info, :rows => 5 %></td>
  </tr>
  <% end %>


