
  <% f.fields_for :person do |per| %>
  <tr>
    <th>Фамилия:</th>
    <td><%=h per.text_field :last_name %></td>
  </tr>
  <tr>
    <th>Имя:</th>
    <td><%=h per.text_field :first_name %></td>
  </tr>
  <tr>
    <th>Отчество:</th>
    <td><%=h per.text_field :patronymic_name %></td>
  </tr>
  <tr>
    <th>День рождения:</th>
    <td><%=h per.date_select(:birthday,:start_year => Date.today.year, :end_year => (Date.today.year - 80))%></td>
  </tr>
  <tr>
    <th>Телефон:</th>
    <td><%=h per.text_field :phone %></td>
  </tr>
  <tr>
    <th>E-mail:</th>
    <td><%=h per.text_field :email %></td>
  </tr>
  <tr>
    <th>Фото:</th>
    <td><%= "#{link_to(person.picture_name, person.picture_path)} | #{per.check_box(:del,{},:value => ["yes","no"])} Удалить?" if person.picture_exists? %>  <br /><%= per.file_field :picture %></td>
  </tr>
  <tr>
    <th valign="top">Информация:</th>
    <td><%=h per.text_area :info, :rows => 5 %></td>
  </tr>
  <% end %>


