<h1>People#index</h1>
<p>Find me in app/views/persons/index.html.erb</p>

<table>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>День рождения</th>
    <th>Who?</th>
    <th>Телефон</th>
    <th>E-mail</th>

  </tr>

<% @people.each do |p| %>
  <tr>
    <td><%=h p.last_name %></td>
    <td><%=h p.first_name %></td>
    <td><%=h p.patronymic_name %></td>
    <td><%=h p.birthday %></td>
    <td><%=h p.nature=='t' ? 'Преподаватель' : 'Студент' %></td>
    <td><%=h p.phone %></td>
    <td><%=h p.email %></td>
    <td><%= link_to 'Show', p %></td>
    <td><%=h p.nature=='t' ? (link_to 'Edit', edit_manage_teacher_path(p.id)) : (link_to 'Edit', edit_manage_student_path(p.id))  %></td>
      <td><%= link_to 'Destroy', manage_teacher_path(p), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>