<h1>Список дисциплин</h1>
<p>
  <% form_for ([:manage,@discipline]) do |f| %>
    <%= f.error_messages %>
<table>
  <tr>
    <td>Название дисциплины:</td>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit 'Добавить' %></td>
  </tr>
</table>
  <% end %>
</p>

<%= render :partial => 'manage/shares/search_form',:locals => { :path => manage_disciplines_path } %>

<p style="color: red"><%= notice %></p>
<p>
<table>
  <tr>
    <th>Индекс</th>
    <th>Название дисциплины</th>
  </tr>

  <% @disciplines.each do |d| %>
    <tr>
      <td><%=h d.id %> </td>
      <td><%=h d.name %> </td>
      <td><%= link_to 'Редактировать', edit_manage_discipline_path(d) %></td>
      <td><%= link_to 'Удалить', manage_discipline_path(d), :confirm => 'Удалить запись?', :method => :delete %></td>
    </tr>
  <%  end %>
</table>
</p>