<h1>Информация о дипломах</h1>


<%= render :partial => 'manage/shares/search_form',:locals => { :path => manage_diplomas_path } %>
<table>
  <tr>
    <th>Название</th>
    <th>Выполнил</th>
    <th>Группа</th>
    <th>Руководитель</th>
    <th>Год</th>
    <th>Аннотация</th>


  </tr>

<% @diplomas.each do |d| %>
  <tr>
    <td><%=h d.name %></td>
    <td><%=h "#{d.student.person.last_name} #{d.student.person.first_name.chars.first}.#{d.student.person.patronymic_name.chars.first}." %></td>
    <td><%=h d.student.speciality.short_name.empty? ? d.student.speciality.name : d.student.speciality.short_name %></td>
    <td><%=h "#{d.teacher.person.last_name} #{d.teacher.person.first_name.chars.first}.#{d.teacher.person.patronymic_name.chars.first}." %></td>
    <td><%=h d.protection_year %></td>
    <td><%=h d.summary.chars.first(100) %></td>
    <td><%= link_to 'Показать', manage_diploma_path(d) %></td>
    <td><%= link_to 'Редактировать', edit_manage_diploma_path(d) %></td>
      <td><%= link_to 'Удалить', manage_diploma_path(d), :confirm => 'Удалить запись?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Добавить диплом', new_manage_diploma_path %>