<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Кафедра ПОВТ</title>
    <%= stylesheet_link_tag 'user' %>
  </head>
  <body>
    <table id="fullheight">
      <tr>
        <td colspan="2" align="center" style="height: 80px;">
          <div class="divtop">
            <%= link_to('Кафедра Программного обеспечения вычислительной техники', :controller => 'home', :action => 'index') %>

            <div style="position: absolute; top:75%;width: 100%;">
              <table width="100%">
                <tr>
                  <td align="center" valign="center" style="width: 250px;">
                    <div class="divSearch">
                    <% form_tag search_all_path, :method => 'get' do %>
                      <%= text_field_tag :search, params[:search], :size => '25', :style => 'background-color: #fbfae5;' %>
                      <%= submit_tag 'Поиск', :name => nil %>
                    <% end %>
                    </div>
                  </td>
                  <td align="right">
                    <div class="divnavi" align="right">
                    <table class="tablenavi">
                <tr>
                  <td><%= link_to 'История кафедры', histories_path %></td>
                  <td style="border-left: black solid 1px;"><%= link_to 'Преподаватели', teachers_path %></td>
                  <td style="border-left: black solid 1px;"><%= link_to 'Группы', groups_path %></td>
                  <td style="border-left: black solid 1px;"><%= link_to 'Архив новостей', url_for(:action => 'index', :controller => 'news') %></td>
                  <td style="border-left: black solid 1px;"><%= link_to 'Полезные ссылки', links_path %></td>
                </tr>
              </table>
                      </div>
                  </td>
                </tr>
                  </table>
                      </div>
                   </div>
                  </td>
                </tr>                              
        </td>
      </tr>

      <tr>

        <%= yield %>

      </tr>

      <tr>
        <td colspan="2" align="center" style="height: 50px;">
          <div class="divbot1">
            <%=  Contact.all.collect { |c|  ["Наш адрес: #{link_to(c.address, 'http://maps.yandex.ru/?ll=37.63629%2C55.836008&spn=0.013368%2C0.003514&z=17&l=map', :target => '_blank')} | Телефоны: #{c.phones} | E-mail: #{c.email} | Сайт: #{link_to c.url, url_with_protocol(c.url), :target => :blank}"]} %>
          </div>


          <div class="divbot2">
            <table width="100%">
              <tr>
                <td align="left">
                  Пользовательский интерфейс: <%= link_to('Телегина Мария', student_path(9)) %>
                </td>
                <td align="center">
                  Разработчики проекта
                </td>
                <td align="right">
                  Административная часть: <%= link_to('Никитина Ирина', student_path(213)) %>
                </td>
              </tr>

            </table>              
          </div>


        </td>
      </tr>  
    </table>
  </body>
</html>
