<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Hello world: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<%= link_to 'Контакты', contacts_path %>
<%= link_to 'Полезные ссылки', links_path %>
<%= link_to 'Новости', articles_path %>
<%= link_to 'История', histories_path %>
<%= link_to 'Студенты', students_path %>
<%= link_to 'Преподаватели', teachers_path %>
<%= link_to 'Учёные степени', degrees_url %>
<%= link_to 'Должности', positions_url %>
<%= link_to 'Дисциплины', disciplines_url %>
<%= link_to 'Специальности', specialities_url %>
<%= link_to 'Кто что ведёт', disciplines_teachers_url %>
<%= link_to 'Дипломы', diplomas_url %>
<%= link_to 'Людишки', people_url %>
<p style="color: green"><%= notice %></p>

<%= yield %>

</body>
</html>
