<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Здравствуй, Администратор сайта</title>
  <%= stylesheet_link_tag 'manage' %>
</head>
<body>
 <table class="mainArea">
    <tr >
      <td  width="140px" class="tdRight" valign="top">

<%= link_to 'Новости', manage_articles_path %><br />
<%= link_to 'Студенты', manage_students_path %><br />
<%= link_to 'Преподаватели', manage_teachers_path %><br />
<%= link_to 'Кто что ведёт', manage_disciplines_teachers_url %><br />
<%= link_to 'Дисциплины', manage_disciplines_url %><br />
<%= link_to 'Специальности', manage_specialities_url %><br />
<%= link_to 'Должности', manage_positions_url %><br />
<%= link_to 'Учёные степени', manage_degrees_url %><br />
<%= link_to 'Дипломы', manage_diplomas_url %><br />
<%= link_to 'История', manage_histories_path %><br />
<%= link_to 'Контакты', manage_contacts_path %><br />
<%= link_to 'Полезные ссылки', manage_links_path %><br /><br />
<%= link_to('На сайт', :controller => '/home', :action => 'index') %><br />
      </td>
    <td  valign="top" class="tdLeft">
      <%= yield %>
    </td>
    </tr>


  </table>




</body>
</html>
