<h1>История кафедры | Изменить</h1>

<% form_for([:manage,@historie]) do |c| %>
  <%= c.error_messages %>

<table>
  <tr>
    <td>История:</td>
  </tr>
  <tr>
    <td><%= c.text_area :body %></td>
  </tr>
  <tr>
    <td>Изображение:</td>
  </tr>
  <tr>
    <td>
    <%= form_tag ({:action => 'uploadFile'},:multipart => true) %>
      <p><label for="upload_file">Выбери изображение:</label> :
      <%= file_field 'upload', 'datafile' %></p>
      </td>
  </tr>
    
  <tr>
    <td align="right"><%= c.submit 'Изменить' %></td>
  </tr>
</table>
<% end %>

<%= link_to 'Назад', manage_histories_path  %>